@model Idea_Database_Interface.Viewmodels.ComercioDetailViewModel
@{
    ViewData["Title"] = "Comercio detalles ";
}
<h1>@Model.Comercio.NombreComercial</h1>
<br />
<p>IAE: @Model.Comercio.IAE</p>
<p>CIF: @Model.Comercio.CIF</p>
<p>Código FUC: @Model.Comercio.CódigoFUC</p>
<p>Dirección: @Model.Comercio.Calle @Model.Comercio.Número, @Model.Comercio.CódigoPostal @Model.Comercio.Provincia, @Model.Comercio.Municipio @Model.Comercio.Localidad</p>
<p>Teléfono Fijo: @Model.Comercio.TeléfonoFijo</p>
<p>Email: @Model.Comercio.Email</p>
<p>Móvi: @Model.Comercio.Móvi</p>
<p>Pesrona de contacto: @Model.Comercio.Contacto</p>
<br/>
<a class="btn" style="background-color: dodgerblue" asp-action="UpdateComer" asp-route-id="@Model.Comercio.Id">Actualización</a>
<a asp-action="DeleteComer" asp-route-id="@Model.Comercio.Id" class="btn btn-danger">Borrar</a>
