@model Idea_Database_Interface.Viewmodels.ComerciosListViewModel
@{
    ViewData["Title"] = "Comercios";
}

<div>
    <h1 class="display-4">Comercios</h1>
    <br />
    <form asp-action="Filter" method="post">
        <div class="container">
            <div class="form-group row">
                <div class="col-md-3">
                    <select asp-for="FilterVal" class="form-select flex-column" id="selectFilter">
                        <option selected value="1">Nombre</option>
                        <option value="2">CIF</option>
                        <option value="3">Email</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" value="" class="form-control" id="textFilter" asp-for="FilterText" />
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Filtro" class="btn input-group" style="background-color: darkorange" />
                </div>
                <div class="col-md-3">
                    <a asp-action="Index" class="btn input-group" style="background-color: orangered">Restablecer</a>
                </div>
            </div>
            <br />
            <div class="row justify-content-md-center">
                <a asp-action="CreateComer" class="btn col-md-3" style="background-color: darkorange">Crear uno nuevo comercio</a>
                <p class="text-end">Total: @Model.Comercios.Count() Comercios</p>
            </div>
        </div>

    </form>
    <div class="text-start">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre comercial</th>
                    <th scope="col" class="d-none d-sm-table-cell">IAE</th>
                    <th scope="col" class="d-none d-sm-table-cell">Móvi</th>
                    <th scope="col" class="d-none d-sm-table-cell">Correo</th>
                    <th scope="col" class="d-none d-sm-table-cell">CIF</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comp in Model.Comercios)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem=>comp.NombreComercial)</td>
                        <td scope="col" class="d-none d-sm-table-cell">@Html.DisplayFor(modelItem=>comp.IAE)</td>
                        <td scope="col" class="d-none d-sm-table-cell">@Html.DisplayFor(modelItem=>comp.Móvi)</td>
                        <td scope="col" class="d-none d-sm-table-cell">@Html.DisplayFor(modelItem=>comp.Email)</td>
                        <td scope="col" class="d-none d-sm-table-cell">@Html.DisplayFor(modelItem=>comp.CIF)</td>
                        <td><a class="btn" style="background-color: dodgerblue" asp-action="Details" asp-route-id="@comp.Id">Detalles</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
