@model Idea_Database_Interface.Viewmodels.CreateCorrespondViewModel
@{
    ViewData["Title"] = "Crear correspondencia";
}
<h1 class="mt-5">@ViewData["Title"]</h1>
<div class="row mt-8">
    <form asp-action="CreateCorrespond" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" />
        <div class="col-md-8">
            <div class="form-group" style="padding: 10px">
                <label asp-for="Mensaje" class="control-label">@Html.DisplayNameFor(model => this.Model.Mensaje) <span class="text-danger">*</span></label>
                <textarea asp-for="Mensaje" class="form-control"></textarea>
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding: 10px">
                <label asp-for="Cuando" class="control-label">@Html.DisplayNameFor(model => this.Model.Cuando) <span class="text-danger">*</span></label>
                <input type="datetime" value=@DateTime.Now asp-for="Cuando" class="form-control" />
                <span asp-validation-for="Cuando" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding: 10px">
                <label asp-for="Remitente" class="control-label">@Html.DisplayNameFor(model => this.Model.Remitente) <span class="text-danger">*</span></label>
                <input asp-for="Remitente" class="form-control" />
                <span asp-validation-for="Remitente" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="padding: 10px">
                <input type="submit" value="Crear" class="btn" style="background-color: aqua !important; color: white !important;" />
                <a asp-action="CorrespondOverview" asp-route-id="@Model.EmprId" class="btn" style="background-color: aqua !important; color: white !important;">Volver</a>
            </div>
        </div>
    </form>
</div>
