@{
    ViewData["Title"] = "Página de usuarios";
}
@model Idea_Database_Interface.Viewmodels.UsuariosListViewModel
<h1>@ViewData["Title"]</h1>

<p></p>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">
                Usario
            </th>
            <th scope="col">
                Correo
            </th>
            <th colspan="2">
                Derechos de administrador
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @if (!await Model.UserManager.IsInRoleAsync(item, "admin"))
                    {
                        <a class="btn btn-primary col-md-6" asp-action="UserAddAdmin" asp-route-id="@item.Id">Hacer admin</a>
                    }
                    else
                    {
                        @if (!await Model.UserManager.IsInRoleAsync(item, "superadmin") && this.User.IsInRole("superadmin"))
                        {
                            <a class="btn btn-primary col-md-6" asp-action="UserAddSuperAdmin" asp-route-id="@item.Id">Hacer super admin</a>
                        }
                        else
                        {
                            <span>Super admin</span>
                        }
                    }
                </td>
                <td>
                    @if (!await Model.UserManager.IsInRoleAsync(item, "superadmin"))
                    {

                        <form asp-action="DeleteUser" method="post">
                            <input type="submit" class="btn btn-danger col-md-6" asp-action="DeleteUser" asp-route-id="@item.Id" value="Borrar" />
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
